
body{
    text-align: center;
}

.div-container{
    margin: auto;
    display: flex;
    width: 500px;
}

.btn{
    border: 1px solid black;
    margin: 10px;
    height: 200px;
    width: 200px;
}

.purpule{
       background-color:  #819ff9;
}

.yellow{
    background-color: #f99b45;

}

.green{
       background-color: #63aa30;
}

.red{
    background-color: #d95980;
}
